* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(
		225deg,
		#ffa5a5 33.09%,
		rgba(255, 255, 255, 0) 82.34%,
		#fdc5c5 100%
	);
}

.authSection {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 582px;
	height: 573px;
	border-radius: 10px;
	background: #fffefe;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.authSection__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.authSection__body-text_title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	color: #333;
}

.alrHaveAcc {
	margin-top: 16px;
}

.alrHaveAcc-question {
	text-align: center;
	margin-right: 6px;
	font-weight: 400;
	font-size: 18px;
	color: #666;
}

.alrHaveAcc-login {
	font-weight: 400;
	font-size: 18px;
	color: #089fe0;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 21px;
	max-width: 394px;
	min-height: 242px;
	padding-top: 47px;
	padding-bottom: 22px;
}

.form_trueName {
	display: flex;
	gap: 1px;
}

.form_myCompany-input {
	width: 100%;
}

.form_email-input {
	width: 100%;
}

.form_trueName-inputName,
.form_trueName-inputLastName {
	width: 50%;
}

.form_myCompany-input,
.form_trueName-inputName,
.form_trueName-inputLastName,
.form_email-input {
	border-radius: 5px;
	padding: 13px 11px 13px;
	border: none;
	background-color: #f5f5f5;
	font-weight: 600;
	font-size: 16px;
	color: #333;
}

.form_myCompany-input::placeholder,
.form_trueName-inputName::placeholder,
.form_trueName-inputLastName::placeholder,
.form_email-input::placeholder {
	background-color: #f5f5f5;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: #999;
	border: none;
}

.form_myCompany-input:focus::placeholder,
.form_trueName-inputName:focus::placeholder,
.form_trueName-inputLastName:focus::placeholder,
.form_email-input:focus::placeholder {
	background-color: #fff;
}

.form_myCompany-input:focus,
.form_trueName-inputName:focus,
.form_trueName-inputLastName:focus,
.form_email-input:focus {
	background-color: #fff;
	font-weight: 600;
	font-size: 16px;
	color: #333;
	outline: 1px solid #f5f5f5;
}

.form_btn-auth {
	width: 100%;
	border-radius: 5px;
	border: none;
	background-color: #089fe0;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}

.authSection__body-terms {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-weight: 400;
	font-size: 14px;
}

.authSection__body-terms_label {
	color: #666;
}

.authSection__body-terms_link {
	color: #089fe0;
}
